<section id="footer">
	<div class="footer_item">
		<div>
			<p class="f-title">contact</p>
			<p>+234 123 4567 890</p>
			<p>info@onlinestore.com</p>
		</div>

		<div>
			<p>257 S La Cienega Blvd, Beverly Hills, CA 90211.</p>
		</div>
	</div>

	<div class="footer_item">
		<p class="f-title">Menu</p>
		<p>Home</p>
		<p>About</p>
		<p>Contact</p>
		<p></p>
	</div>

	<div class="footer_item">
		<p class="f-title">Subscribe</p>
		<div>
			<input type="text" placeholder="Name" />
		</div>

		<div>
			<input type="text" placeholder="Email" />
		</div>

		<input class="submit" type="submit" />
	</div>
</section>
<footer>&copy; online - store</footer>
