<nav>
	<div>Ace store</div>

	<div>
		<ul>
			<a href="/"><li>home</li></a>
			<a href="/about"><li>about</li></a>
			<a href="/contact"><li>contact</li></a>
		</ul>
	</div>

	<button class="toggle_btn">
		<i class="fas fa-bars"></i>
	</button>
</nav>
