<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/all.css" />
		<link rel="stylesheet" href="css/all.min.css" />
		<title><%=title%></title>
	</head>
	<body>
		<header>
			<%-include('partials/sidebar');-%> <%-include('partials/nav');-%>

			<div class="intro">
				<div class="intro_details_div">
					<div class="intro_details">
						<h1>ace store</h1>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit.
							Aspernatur incidunt impedit atque recusandae nemo sint eum magni,
							ratione aperiam vero.
						</p>
						<a href="#store"> <button class="shop_btn">shop with us</button></a>
					</div>
				</div>
			</div>
		</header>
		<section id="store">
			<div class="title">
				<h2>our store</h2>
				<div class="underline"></div>
			</div>

			<div class="all_items">
				<!-- single item -->
				<div class="store_item">
					<img
						src="img/0dc17dc6152246f1b21da8e4a31bf030_1619812173945.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="img/store_img/cristofer-jeschke-AqLIkOzWDAk-unsplash.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="img/store_img/gez-xavier-mansfield-b34E1vh1tYU-unsplash.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="img/store_img/jade-scarlato-tdAxjwIiW7s-unsplash.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="img/store_img/john-torcasio-TJrkkhdB39E-unsplash.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img src="img/store_img/manik-roy-SYaln4hCsAk-unsplash.jpg" alt="" />
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<!-- <div class="store_item">
					<img src="img/store_img/manik-roy-SYaln4hCsAk-unsplash.jpg" alt="" />
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div> -->
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img src="img/store_img/neonbrand-Pvx24X1uiq4-unsplash.jpg" alt="" />
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item --><!-- single item -->
				<div class="store_item">
					<img src="img/store_img/pat-taylor-12V36G17IbQ-unsplash.jpg" alt="" />
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="img/store_img/peter-albanese-Gqlmzo-q6mY-unsplash.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="img/store_img/redowan-dhrubo-HPAEWdeo_RI-unsplash.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="img/store_img/usama-akram-kP6knT7tjn4-unsplash.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->
			</div>
		</section>
		<%-include('partials/footer');-%>
		<!-- <script src="/__/firebase/8.9.1/firebase-app.js"></script> -->
		<!-- <script src="/__/firebase/init.js"></script> -->
		<script src="js/script.js"></script>
	</body>
</html>
