<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/all.css" />
		<link rel="stylesheet" href="css/all.min.css" />
		<title><%=title%></title>
	</head>
	<body>
		<header>
			<%-include('partials/sidebar');-%> <%-include('partials/nav');-%>

			<div class="intro">
				<div class="intro_details_div">
					<div class="intro_details">
						<h1>ace store.</h1>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit.
							Aspernatur incidunt impedit atque recusandae nemo sint eum magni,
							ratione aperiam vero.
						</p>
						<a href="#store"> <button class="shop_btn">shop with us</button></a>
					</div>
				</div>
			</div>
		</header>
		<section id="store">
			<div class="title">
				<h2>our store</h2>
				<div class="underline"></div>
			</div>

			<div class="all_items">
				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629310001/0dc17dc6152246f1b21da8e4a31bf030_1619812173945_rqqqck.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309951/jade-scarlato-tdAxjwIiW7s-unsplash_l3tms8.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309946/manik-roy-SYaln4hCsAk-unsplash_fqniyx.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309944/cristofer-jeschke-AqLIkOzWDAk-unsplash_zu9vsv.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309943/john-torcasio-TJrkkhdB39E-unsplash_bykxtr.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309942/pat-taylor-12V36G17IbQ-unsplash_vqa3mt.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<!-- <div class="store_item">
					<img src="img/store_img/manik-roy-SYaln4hCsAk-unsplash.jpg" alt="" />
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div> -->
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309942/gez-xavier-mansfield-b34E1vh1tYU-unsplash_ntzimn.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item --><!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309942/redowan-dhrubo-HPAEWdeo_RI-unsplash_ygvmgl.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309941/usama-akram-kP6knT7tjn4-unsplash_e5fgiw.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309940/neonbrand-Pvx24X1uiq4-unsplash_hbfe8l.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->

				<!-- single item -->
				<div class="store_item">
					<img
						src="https://res.cloudinary.com/adelabuadeleke/image/upload/v1629309940/peter-albanese-Gqlmzo-q6mY-unsplash_g0kjvn.jpg"
						alt=""
					/>
					<div class="item_details">
						<p>item 1</p>
						<p class="price">N2,000</p>
					</div>

					<div class="item_description">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
							veniam minus aliquid illo voluptate natus deleniti magnam
							laboriosam non rem.
						</p>
					</div>
				</div>
				<!-- end of single item -->
			</div>
		</section>
		<%-include('partials/footer');-%>
		<!-- <script src="/__/firebase/8.9.1/firebase-app.js"></script> -->
		<!-- <script src="/__/firebase/init.js"></script> -->
		<script src="js/script.js"></script>
	</body>
</html>
